.filler {
    flex: 1 1 auto;
 }
 .gap {
    /* margin-right: 5%; */
    /* font-size: 11px; */
    /* font-weight: 400; 
    width: 20px;   */
    margin-right: 2%;
 }
 .notofication{
    /* width: 100px; */
 }
 .breakbelow{
    /* margin-bottom: 5%; */
 }
 
 .head{
    height: auto;
    background-color: blue;
    color: white;
 }

 .head img{
    padding-bottom: 3%;
    padding-top: 3%;
 }

 
 


 