.container{
   margin-top: 5%;
}
.row{
   height: 30px;
}
.mat-card{
   height: 90%;
   margin-top: 7%;
   background-color: blue;
   color: white;

}
.col-md-3 :hover{
   background-color: #1b1899;
}
